
  
 .form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

button.btn-primary {
  background-color: #007bff;
  color: #ffffff;
  margin-right: 20px; /* Adjust the value as needed */
}
.cancel-button {
  margin-right: 10px; /* Adjust the value as needed */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}

.card-body {
  max-width: 400%;
  width: 700px;
  padding: 30px;
  align-items: center;
  border: 4px solid #ccc;
  border-radius: 30px;
  box-sizing: border-box;
}

  
  
  
  
