.table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto; /* Center the table horizontally */
}

  
  .table th {
    background-color: #6a6b6c;
    font-weight: bold;
    position: relative;
   
  }
  .table th,
  .table td {
    padding: 8px;
    text-align: center; /* Center the table cells */
    border-bottom: 1px solid #ddd;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: #f9f9f9;
   
  }
  
  .table-striped tbody tr:hover {
    background-color: #e9e9e9;
    text-align: center;
  }
  .table th:not(:first-child),
  .table td:not(:first-child) {
    border-left: 1px solid #0c0c0c;
  }
  